#basic
PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL libasound2-dev libudev-dev libibus-1.0-dev libdbus-1-dev fcitx-libs-dev libsndio-dev libsamplerate0-dev libx11-dev libxcursor-dev libxext-dev libxi-dev libxinerama-dev libxkbcommon-dev libxrandr-dev libxss-dev libxt-dev libxv-dev libxxf86vm-dev libgl1-mesa-dev libegl1-mesa-dev libgles2-mesa-dev libdrm-dev libgbm-dev devscripts debhelper dh-autoreconf"
#sdl2
PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL libasound2-dev libudev-dev libibus-1.0-dev libdbus-1-dev fcitx-libs-dev libsndio-dev libsamplerate0-dev libegl1-mesa-dev libgles2-mesa-dev libdrm-dev libgbm-dev"
#emulationstatio
PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL libfreeimage-dev libfreetype6-dev libcurl4-openssl-dev libasound2-dev cmake libsm-dev libvlc-dev libvlccore-dev vlc rapidjson-dev"
#retroarch
PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL libudev-dev libxkbcommon-dev libasound2-dev libusb-1.0-0-dev libgbm-dev libavcodec-dev libavformat-dev libavdevice-dev"
#mupen64
PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL cmake libsamplerate0-dev libspeexdsp-dev libpng-dev libfreetype6-dev fonts-freefont-ttf libboost-filesystem-dev"
#reicast
PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL python3-dev python3-pip alsa-oss python3-setuptools libevdev-dev libasound2-dev libudev-dev"
#
PACKAGE_LIST_ADDITIONAL="libvulkan-dev libgl1-mesa-dev libpng-dev meson ninja-build libgbm-dev libdrm-dev libpciaccess-dev fbi meson ninja-build libgbm-dev libdrm-dev libpciaccess-dev"